@media (max-width: 900px) {
    .titlename1 {
        display: none;
    }

    .titlename2 {
        display: flex;
    }

    nav > ul > li {
        margin-left: 24px ;
    }

    .coronainfo {
        flex-direction: column;
    }

    .textosmenu {
        top: 0;
        margin-top: 40px;
    }

    .titulocoronainfo, .paragrafocoronainfo, .dip {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}