body {
    font-family: Poppins;
    color: rgb(0, 0, 0);
    background-color: rgb(34, 40, 49);
}

#map {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mapStyle {
    height: 100%;
    width: 100%;
}

.selete {
    padding: 20px 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardBotaoNaoClick {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardBotaoSimClick {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    background-color: rgb(128, 237, 153);
    padding: 15px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardMapa {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(57, 62, 70);
    padding: 10px;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 10px;
}

.container {
    padding: 2px 16px;
}

#botaoanimado {
    width: 200px;
    height: 50px;
    font-size: 26px;
    font-family: Poppins;
    border: 0px;
    border-radius: 10px;
    color: rgb(34, 40, 49);
    background-color: rgb(128, 237, 153);
    cursor: pointer;
    transition: 0.6s ease;
}

#botaoanimado>#icon {
    color: rgb(34, 40, 49);
    animation: is_bouncing 0.5s ease-in alternate infinite;
}

#botaoanimado:hover {
    background-color: rgb(119, 255, 151);
}

@keyframes is_bouncing {
    to {
        transform: translatey(6px);
    }
}