@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;600;800&display=swap');

body {
    color: rgb(0, 0, 0);
    background-color: #11052C;
    font-family: 'Sora', sans-serif;

    /*degrade no fundo:*/
    animation:degrade 30s ease alternate infinite;
    background:linear-gradient(-54deg,#ee7752,#1D3461,#74A57F, #581908) no-repeat;
    background-size: 275% 275%;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }

.inicialPage > .menuContainer{
    height: 100vh;
    display: inline-flex;
    width: 100%;
}



header {
    height: 10vh;
    width: 100%;
    display: flex;
    color: white;
}

nav > ul {
    display: inline-flex;
    list-style: none;
}

nav > ul > li {
    margin-left: 35px;
}

.centerObject {
    display: inline-flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.menuContainer {
    display: inline-flex;
    justify-content: space-between;
}

.inicialPage>.landingpage{

    height: 90vh;
    width:100%;
    position: relative;
}

.textosmenu_box{

    position: absolute;
    width: 100vh;
    height: 80vh;
    left: 10vh;
    
}

.textosmenu{
    position: relative;
}
.textosmenu > #titulo{
    position: absolute;
    font-size: 50px;
    top: 15vh;
    color: white;
}

.textosmenu > #apresentacao{
    position: absolute;
    top: 32vh;
    color: white;
}

#imgbrasil{
    height: 70vh;
    width: 70vh;
    position: absolute;
    top: 10vh;
    right: 100px;
    opacity: 25%;
}

#imgingecao{
    height: 50vh;
    opacity: 25%;
    position: absolute;
    right: 200px;
    top: 30vh;
}

.contentPrincipal {
    position: relative;
    display: inline-flex;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container > h1 , .container > h2 {
    margin: auto;
    margin-bottom: 16px;
}
#map {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mapStyle {
    height: 100%;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bigDiv {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.insideContainer {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.cardBotaoNaoClick {
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 50px;
    max-width: 112px;
    width: 100%;
    display: inline-flex;
    text-align: center;
}

.cardBotaoSimClick {
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    background-color: #FFE459;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    max-width: 112px;
    width: 100%;
    display: inline-flex;
}

.cardBotaoNaoClick > p, .cardBotaoSimClick > p {
    margin: auto;
}

.cardBotaoNaoClick:hover {
    background-color: #ffef9f;
}


.cardMapa {
    transition: 0.3s;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: rgb(57, 62, 70);
    padding: 10px;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 10px;
}

.container {
    padding: 2px 16px;
}

#botaoanimado {
    width: 200px;
    height: 50px;
    font-size: 26px;
    border: 0px;
    border-radius: 10px;
    color: rgb(34, 40, 49);
    background-color: #FFE459;
    cursor: pointer;
    transition: 0.6s ease;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #11052C;
}

#botaoanimado>#icon {
    color: #11052C;
    animation: is_bouncing 0.5s ease-in alternate infinite;
}

#botaoanimado:hover {
    background-color: #fcdd42;
}

@keyframes is_bouncing {
    to {
        transform: translatey(6px);
    }
}

@keyframes degrade {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

