body {
  font-family: Arial;
  color: black;
}

.button {
  color: black;
  padding: 20px 100px;
  text-align: center;
  font-size: 16px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

padding {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
